<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.theapptest.nuvo">


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <application
        android:name="xyz.theapptest.nuvo.services.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="xyz.theapptest.nuvo.ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="xyz.theapptest.nuvo.ui.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="xyz.theapptest.nuvo.ui.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="xyz.theapptest.nuvo.ui.ArtistHomescreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="xyz.theapptest.nuvo.ui.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="xyz.theapptest.nuvo.ui.RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="xyz.theapptest.nuvo.ui.RegistrationArtistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="xyz.theapptest.nuvo.ui.SendingEmailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="xyz.theapptest.nuvo.ui.CreateProfileSliderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="xyz.theapptest.nuvo.ui.RecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity
            android:name="xyz.theapptest.nuvo.ui.Activity_Notify"
            android:screenOrientation="portrait"

            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>


        <activity
            android:name="xyz.theapptest.nuvo.ui.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>

        <activity
            android:name="xyz.theapptest.nuvo.ui.ImageUploadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">


        </activity>
        <activity
            android:name="xyz.theapptest.nuvo.ui.Radiobuttondisplayactivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">


        </activity>
        <activity
            android:name="xyz.theapptest.nuvo.ui.CharacteristicsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">


        </activity>
        <activity
            android:name="xyz.theapptest.nuvo.fragment.TabFragmentFindArtist"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">


        </activity>
        <activity
            android:name="xyz.theapptest.nuvo.ui.AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">


        </activity>
        <activity
            android:name="xyz.theapptest.nuvo.ui.Activity_fragment_display"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">


        </activity>

        <activity
            android:name="xyz.theapptest.nuvo.ui.ProducerHomeScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">

            <!--  <intent-filter>
                  <action android:name="android.intent.action.MAIN" />

                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>-->
        </activity>
        <activity
            android:name=".agent.AgentsAddArtistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".agent.MyProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".agent.AgentContainerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".agent.AgentAddSingleArtistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>




    </application>

</manifest>